# Configuração do container postgres
POSTGRES_DB=pedidos_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Configuração do Spring para conectar ao postgres
DB_URL=jdbc:postgresql://pedido-db:5432/pedidos_db
DB_USERNAME=postgres
DB_PASSWORD=